<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<body>
<div layout:fragment="content">
	<div class="row">
		<div class="col-lg-10"></div>
		<div class="col-lg-2">
			<button onclick="tambahData()" class="btn btn-primary" style="width: 70px;">Add</button>
		</div>
	</div>
	<br>
	<form th:action="@{~/company/index}" th:object="${searchForm}">
		<div class="row">
	    	<div class="col-lg-3">
		        <select th:field="*{companyCode}" class="form-control">
					<option value="">- Select Company Code -</option>
					<option th:each="companyCodeDDl : ${companyCodeList}" th:value="${companyCodeDDl}" th:text="${companyCodeDDl}"></option>
				</select>
			</div>
			<div class="col-lg-3">
				<select th:field="*{companyName}" class="form-control">
					<option value="">- Select Company Name -</option>
					<option th:each="companyNameDDl : ${companyNameList}" th:value="${companyNameDDl}" th:text="${companyNameDDl}"></option>
				</select>
			</div>
			<div class="col-lg-2">
	    		<input th:field="*{createdDate}" placeholder="Created Date" class="form-control" type="text" onfocus="(this.type='date')" id="createdDate">
			</div>
	    	<div class="col-lg-2">
	    		<input th:field="*{createdBy}" type="text" class="form-control" id="createdBy" placeholder="Created By">
			</div>
			<div class="col-lg-2">
			<button type="submit" class="btn btn-warning">Search</button>
			</div>
		</div>
	</form>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>No</th>
				<th>Company Code</th>
				<th>Company Name</th>								
				<th>Created Date</th>								
				<th>Created By</th>								
				<th>Action</th>								
			</tr>
		</thead>
		<tbody>
			<tr th:each="item, stats : ${companyPage.content}">
				<td th:text="${stats.index+1}"></td>
				<td th:text="${item.code}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.createdDate}"></td>
				<td th:text="${item.createdBy}"></td>										
				<td>
					<a href="javascript:void(0);" class="anchorDetails" th:data-id="${item.id}">
						<i class="glyphicon glyphicon-search">
                    	</i>
					</a>
					<a href="javascript:void(0);" class="anchorEdit" th:data-id="${item.id}">
						<i class="glyphicon glyphicon-pencil">
                    	</i>
					</a>
					<a href="javascript:void(0);" class="anchorDelete" th:data-id="${item.id}">
						<i class="glyphicon glyphicon-trash">
                    	</i>
					</a>
				</td>								
			</tr>		
		</tbody>
	</table>
	<div class="pagination"
	    th:each="pageNumber : ${pageNumbers}">
	    <a th:href="@{/company/index(page=${pageNumber})}"
	        th:text=${pageNumber}
	        th:class="${pageNumber==companyPage.number + 1} ? active"></a>
	</div>
		<div>
		</div>
		<div th:if="${message!=null}"></div>	
    	<div th:unless="${message==null}" class="alert alert-info" th:text="${message}"></div>	
    	
	<script>
		function tambahData(){
			$.ajax({
				url:'/company/add',
				type: 'get',
				contentType : 'html',
				success:function(result){
					$("#CreateOrEditOrDetails").html(result);
					$("#myModalCreateOrEditOrDetails").modal("show");
				}
			})
		}
		$(function () {
            $(".anchorEdit").click(function () {
            	var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
				$.ajax({
					url:'/company/edit/'+id,
					type: 'get',
					contentType : 'html',
					success:function(result){
						$("#CreateOrEditOrDetails").html(result);
						$("#myModalCreateOrEditOrDetails").modal("show");
					}
				})
			});
		});
		$(function () {
            $(".anchorDelete").click(function () {
            	var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
				$.ajax({
					url:'/company/delete/'+id,
					type: 'get',
					contentType : 'html',
					success:function(result){
						$("#myModalContentDelete").html(result);
						$("#myModalDelete").modal("show");
					}
				})
			});
		});
		$(function () {
            $(".anchorDetails").click(function () {
            	var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
				$.ajax({
					url:'/company/details/'+id,
					type: 'get',
					contentType : 'html',
					success:function(result){
						$("#CreateOrEditOrDetails").html(result);
						$("#myModalCreateOrEditOrDetails").modal("show");
					}
				})
			});
		});
		function delete_(id){
			$.ajax({
				url:'/company/delete/'+id,
				type: 'get',
				contentType : 'html',
				success:function(result){
					$("#myModalContentDelete").html(result);
					$("#myModalDelete").modal("show");
				}
			})
		}
		function details(id){
			$.ajax({
				url:'/company/details/'+id,
				type: 'get',
				contentType : 'html',
				success:function(result){
					$("#CreateOrEditOrDetails").html(result);
					$("#myModalCreateOrEditOrDetails").modal("show");
				}
			})
		}
	</script>
</div>
</body>
</html>