<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/company/index">Company</a></li>
              <li><a href="/employee/index">Employee</a></li>
              <li><a href="/event/index">Event</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
</header>