<div class="modal-header blue" style="background-color:#000066;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#ffffff">
        <span aria-hidden="true">&times;</span>
    </button>
	<h4 class="modal-title" style="color:#ffffff">Add Event</h4>
</div>
<form th:action="@{~/event/save}" th:object="${event}" method="post">
	<div class="modal-body">
	<input type="hidden" th:field="*{id}">
		<div class="row">
	    	<div class="col-lg-12">
	    		<div class="col-lg-12">
					<div class="col-lg-6">
						<label>Transaction Code*</label>
						<input type="text" placeholder="AUTO GENERATED" readonly="readonly" th:field="*{code}" class="form-control">
					</div>
					<div class="col-lg-6">
						<label>* Request By</label>
						<input type="text" readonly="readonly" th:field="*{requestBy}" class="form-control">
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<label>Event Name*</label>
						<input type="text" id="name" placeholder="Type Event Name" th:field="*{eventName}" class="form-control" onfocus="nameValidation()" oninput="nameValidation()" required>
						<span style="color:#DC143C;font-weight:bold" id="name-error"></span>
					</div>
					<div class="col-lg-6">
						<label>* Request Date</label>
						<input type="text" readonly="readonly" th:field="*{requestDate}" class="form-control">
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<label>* Event Place</label>
						<input type="text" id="place" placeholder="Type Event Place" th:field="*{place}" class="form-control" onfocus="placeValidation()" oninput="placeValidation()" required>
						<span style="color:#DC143C;font-weight:bold" id="place-error"></span>
					</div>
					<div class="col-lg-6">
						<label>Note</label>
						<textarea placeholder="Type Note" th:field="*{note}" class="form-control" rows="5"></textarea>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<label>* Event Start Date</label>
						<input type="date" id="start" placeholder="Select Date" th:field="*{startDate}" class="form-control" onfocus="startValidation()" oninput="startValidation()" required>
						<span style="color:#DC143C;font-weight:bold" id="start-error"></span>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<label>* Event End Date</label>
						<input type="date" id="end" placeholder="Select Date" th:field="*{endDate}" class="form-control" onfocus="endValidation()" oninput="endValidation()" required>
						<span style="color:#DC143C;font-weight:bold" id="end-error"></span>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<label>* Budget (Rp.)</label>
						<input type="text" id="budget" placeholder="Type Event Budget" th:field="*{budget}" class="form-control" onfocus="budgetValidation()" oninput="budgetValidation()" required>
						<span style="color:#DC143C;font-weight:bold" id="budget-error"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer justify-content-between">
		<button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Batal</button>
	</div>
</form>

<script type="text/javascript">
function nameValidation()
{
  valueName = document.getElementById('name').value;
  if(valueName!=""){  
	  document.getElementById("name-error").innerHTML = "";		
  }
  else{
	  document.getElementById("name-error").innerHTML = "Nama tidak boleh kosong";
  }
}

function placeValidation()
{
  valueName = document.getElementById('place').value;
  if(valueName!=""){  
	  document.getElementById("place-error").innerHTML = "";		
  }
  else{
	  document.getElementById("place-error").innerHTML = "Place tidak boleh kosong";
  }
}

function startValidation()
{
  valueName = document.getElementById('start').value;
  if(valueName!=""){  
	  document.getElementById("start-error").innerHTML = "";		
  }
  else{
	  document.getElementById("start-error").innerHTML = "Start Date tidak boleh kosong";
  }
}

function endValidation()
{
  valueName = document.getElementById('end').value;
  if(valueName!=""){  
	  document.getElementById("end-error").innerHTML = "";		
  }
  else{
	  document.getElementById("end-error").innerHTML = "End Date tidak boleh kosong";
  }
}

function budgetValidation()
{
  valueName = document.getElementById('budget').value;
  if(valueName!=""){  
	  document.getElementById("budget-error").innerHTML = "";		
  }
  else{
	  document.getElementById("budget-error").innerHTML = "Budget tidak boleh kosong";
  }
}
</script>