<div class="modal-header blue" style="background-color:#000066;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#ffffff">
        <span aria-hidden="true">&times;</span>
    </button>
	<h4 class="modal-title" style="color:#ffffff">Approval Event Request</h4>
</div>
<form th:object="${event}">
    <input type="hidden" th:field="*{id}">
    	<div class="row">
	    	<div class="col-lg-12">
	    		<div class="col-lg-12">
					<div class="col-lg-6">
						<label>Transaction Code*</label>
						<input type="text" placeholder="AUTO GENERATED" readonly="readonly" th:field="*{code}" class="form-control">
					</div>
					<div class="col-lg-6">
						<label>* Request By</label>
						<input type="text" readonly="readonly" th:value="*{request.firstName + ' ' + request.lastName}" class="form-control">
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<label>Event Name*</label>
						<input type="text" id="name" readonly="readonly" th:field="*{eventName}" class="form-control" onfocus="nameValidation()" oninput="nameValidation()" required>
						<span style="color:#DC143C;font-weight:bold" id="name-error"></span>
					</div>
					<div class="col-lg-6">
						<label>* Request Date</label>
						<input type="text" readonly="readonly" th:field="*{requestDate}" class="form-control">
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<label>* Event Place</label>
						<input type="text" id="place" readonly="readonly" th:field="*{place}" class="form-control" onfocus="placeValidation()" oninput="placeValidation()" required>
						<span style="color:#DC143C;font-weight:bold" id="place-error"></span>
					</div>
					<div class="col-lg-6">
						<label>Note</label>
						<input type="text" readonly="readonly" th:field="*{note}" class="form-control">
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<label>* Event Start Date</label>
						<input type="date" id="start" readonly="readonly" th:field="*{startDate}" class="form-control" onfocus="startValidation()" oninput="startValidation()" required>
						<span style="color:#DC143C;font-weight:bold" id="start-error"></span>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<label>* Event End Date</label>
						<input type="date" id="end" readonly="readonly" th:field="*{endDate}" class="form-control" onfocus="endValidation()" oninput="endValidation()" required>
						<span style="color:#DC143C;font-weight:bold" id="end-error"></span>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<label>* Budget (Rp.)</label>
						<input type="text" id="budget" readonly="readonly" th:field="*{budget}" class="form-control" onfocus="budgetValidation()" oninput="budgetValidation()" required>
						<span style="color:#DC143C;font-weight:bold" id="budget-error"></span>
					</div>
					<div class="col-lg-6">
						<label>Status</label>
						<input type="text" readonly="readonly" th:field="*{event.name}" class="form-control">
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6">
						<label>* Assign To</label>
						<input type="text" readonly="readonly" th:value="*{assign.firstName + ' ' + assign.lastName}" class="form-control">
					</div>
				</div>
			</div>
		</div>
    
	<div class="modal-footer justify-content-between">
		<a href="javascript:void(0);" class="anchorClosed btn btn-primary" th:field="*{id}">Closed Request</a>
		<button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
</form>

<script>
$(function () {
    $(".anchorClosed").click(function () {
    	var $buttonClicked = $(this);
        var id = $buttonClicked.attr('field');
		$.ajax({
			url:'/event/close/'+id,
			type: 'get',
			contentType : 'html',
			success:function(result){
				$("#CreateOrEditOrDetails").html(result);
				$("#myModalCreateOrEditOrDetails").modal("show");
			}
		})
	});
});
</script>