<div class="modal-header blue" style="background-color:#000066;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#ffffff">
        <span aria-hidden="true">&times;</span>
    </button>
	<h4 class="modal-title" style="color:#ffffff" th:text="${title}"></h4>
</div>

	<div class="modal-body">
		<div class="row">
	    	<div class="col-lg-6">
				<div class="form-group">
					<label>Emp ID Number*</label>
					<input type="text" readonly="readonly" th:field="*{employee.code}" class="form-control">
				</div>
				<div class="form-group">
					<label>First Name*</label>
					<input type="text" id="name" th:field="*{employee.firstName}" class="form-control" readonly="readonly">
				</div>
				<div class="form-group">
					<label>Last Name</label>
					<input type="text" th:field="*{employee.lastName}" class="form-control" readonly="readonly"> 
				</div>
			</div>
	    	<div class="col-lg-6">
	    		<div class="form-group">
					<label>Company Name*</label>
					<input type="text" th:field="*{employee.company.name}" class="form-control" readonly="readonly"> 
				</div>		
				<div class="form-group">
					<label>Email</label>
					<input type="email" id="email" th:field="*{employee.email}" class="form-control" readonly="readonly">
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="Close">Close</button>
	</div>

